<!-- views/answer.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Answer Question</title>
  <link rel="stylesheet" href="/css/answer.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000;">
    <div class="container-fluid">
  
        <a class="navbar-brand d-flex align-items-center" href="/">
            
            <span style="font-size: 1.5rem; font-weight: bold; font-family: Arial, sans-serif;">CampusLink</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if (user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/<%= user.id %>">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/logout">Logout</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    
                <% } %>
            </ul>
              
            </div>
        </div>
    </div>
  </nav>
  <h2>Answer Question</h2>
  
  <!-- Display the question details -->
  <div class="question">
    <h3>Title: <%= question.title %></h3>
    <p>Question: <%= question.question %></p>
    <p>Asked by: <%= question.creator.username %></p>
  </div>

  <!-- Form to submit the answer -->
  <form action="/faq/answer/<%= question._id %>" method="POST">
    <div class="form-group">
      <label for="answerText">Your Answer:</label>
      <textarea name="answerText" id="answerText" required rows="5" cols="40"></textarea>
    </div>

    <div class="button-group">
        <button type="submit" class="btn btn-primary">Submit Answer</button>
        <button type="button" class="cancel-btn" onclick="window.history.back()">Cancel</button>
    </div>
  </form>
</body>
</html>
