<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%- locals.description %>">
    <link rel='stylesheet' href="/css/styles.css">
    <script type="text/javascript" defer src="/javascripts/script.js"></script>
</head>
<body>
    <%- include('partials/search.ejs') %>
    <div class="container">
   <%- include('partials/header.ejs') %>
   
    
    <main class="main">
        <% if (typeof user !=="undefined" && user.role==="USER") { %>
            <div class="author"></div>
            <h1 class="author__heading">Search Results</h1>
        
          </div>
          <section class="articles">
        
          
            <ul class="article-ul">
                <% data.forEach(post => { %>
                 
                
                <li>
                  <a href="/main/post/<%= post._id%>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString()%></span>
                  </a>
                </li>
                <% }) %>
            </ul>
            <% } else { %>
              <div class="author">
              <h1 class="author__heading">Search Results</h1>
         
            </div>
        
            <ul class="admin-posts">
            
              <% data.forEach(post => { %>
               
                <li>
                  <a href="/main/post/<%= post._id %>">
                    <%= post.title %> &nearr;
                  </a>
                
                  <div class="admin-post-controls">
                  
                    <a href="/main/edit-post/<%= post._id %>" class="btn">Edit</a>
            
                    <form action="/main/delete-post/<%= post._id %>?_method=DELETE" method="POST">
                      <input type="submit" value="Delete" class="btn-delete btn">
                    </form>
                    
                  </div>
                  
                  
        
            
                </li>
            
              <% }) %>
            </ul>
              </ul>
        
          <% }  %>
    </main>
  
   <%- include('partials/footer.ejs') %>
</div>
   
</body>
</html>
